/*! Variabelen */

//HOOFDKLEUREN LICHT EN DONKER + DARKMODE

html {
  --primaryBgColor: #fff;
  --primaryTextColor: #111;

  --secondaryBgColor: #e0e0e0;
  --secondaryDarkBgColor: #c5c5c5;
  --secondaryTextColor: #666;

  --imageBgColor: #cecece;

  --hoverBgColor: #f5f5f5;

  --activeBgColor: #eeeeee;

  --accentColor: #46ac46;
  --accentDarkColor: #2f7a2f;

  --errorColor: rgb(185, 19, 19);
  --errorDarkColor: rgb(105, 11, 11);

  --otherColor: #1e4351;
}

html.dark {
  --primaryBgColor: #222222;
  --primaryTextColor: #e8e8e8;

  --secondaryBgColor: #3d3d3d;
  --secondaryDarkBgColor: #4d4d4d;
  --secondaryTextColor: #888;

  --activeBgColor: #333333;

  --imageBgColor: #777;

  --hoverBgColor: #2b2b2b;
}

//FONTS

$hoofdfont: 'Avenir', sans-serif;

//PATH FOR IMAGES

$imagePath: '/images';

//SCHERMBREEDTES

$mediumscreen: 1200px;
$smallscreen: 800px;
