@import './base/var';
@import './base/reset';
@import './base/mixins';

html,
body {
  //max-height:100vh;
  width: 100vw;
  overflow-x: hidden;
  //overflow-y:hidden;
}

div#root {
  font: normal 100%/1.4 $hoofdfont, sans-serif;
  @include flex(column, flex-start, flex-start);
  min-height: 100vh;
  width: 100vw;
  background: var(--primaryBgColor);
  color: var(--primaryTextColor);
}

.dashboard-wrap {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.header {
  @include flex(row, center, center);
  border-bottom: 2px solid black;
}

.footer {
  @include flex(row, center, center);
  border-top: 2px solid black;
}

a {
  text-decoration: none;
}
